 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */

html, body{
  height: 100%;
  width: 100%;
}
body {
  background-color: lightblue;
}
p {
  font-family: verdana;
}






img {
  width: 150px;
  height: 150px;
}






